body {
    margin: 0px;
}

header {
    background-color: rgb(255, 219, 140);
    padding: 10px;
}

header a {
    padding: 0px 20px;
    text-decoration: none;
    color: black;

}

.ele {
    margin: 10px 0px;
}
